html,body{
    font-family: Ubuntu,sans-serif;
    background: url("night.jpg");
    background-size:cover;
    background-position:center;
    color: #fff;
    margin: 0;
    padding: 0;
    
  
    
    }